**/.pytest_cache
__pycache__/
/.mypy_cache/
*.py[cod]
*$py.class
/.vscode/
/.idea/
.venv
.env
**/*.egg-info/
**/*.db
**/*.log
**/*.settings.yaml
**/*.config.yaml
**/.store_files/
*.spec
temp/
build/
dist/
app/snippets/
app/assistants/
.cursor/
/.specstory/
.cursorindexingignore