**/.pytest_cache
__pycache__/
/.mypy_cache/
*.py[cod]
*$py.class
/.vscode/
/.idea/
.venv
.env
/chat/settings.json
/*.db
/*.log
/.settings.yaml
/kraina-*/
/.store_files/
/out/**
/temp
/config.yaml
kraina_*
kraina-*
