aenum==3.1.16
anthropic==0.52.0
IPyC==1.1.1
klembord==0.3.0
langchain==0.3.25
langchain-anthropic==0.3.13
langchain-aws==0.2.23
langchain-community==0.3.24
langchain-core==0.3.61
langchain-google-genai==2.1.4
langchain-ollama==0.3.3
langchain-openai==0.3.18
langchain-voyageai==0.1.6
langfuse==2.60.5
markdown2==2.5.3
mermaid-py==0.8.0
openai==1.82.0
pgi==0.0.11.2; os_name == 'posix'
pillow==11.2.1
pygobject==3.46.0; os_name == 'posix'
pygments==2.19.1
pydantic==2.11.5
pypdf[full]==5.5.0
python-dotenv==1.1.0
pywinstyles==1.8; os_name != 'posix'
PyYAML==6.0.2
requests==2.32.3
setuptools==80.8.0  # required for Python 3.12 for klemboard package
SQLAlchemy==2.0.41
sv-ttk==2.6.0
tiktoken==0.9.0
tkinter-tooltip==3.1.2
tkinterdnd2==0.4.3
tkinterweb==4.3.1
voyageai==0.3.2
watchfiles==1.0.5
windows-toasts==1.2.0; os_name != 'posix'
wolframalpha==5.1.3