requests~=2.31.0
langchain~=0.1.13
python-dotenv~=1.0.1
langchain-openai~=0.1.0
openai~=1.14.2
PyYAML~=6.0.1
cryptography~=42.0.5
pygobject~=3.48.2
pgi~=0.0.11.2
SQLAlchemy~=2.0.30
ttkthemes~=3.2.2
pillow~=10.3.0
IPyC~=1.1.1