aenum==3.1.16
anthropic==0.57.1
IPyC==1.1.1
klembord==0.3.0
langchain==0.3.26
langchain-anthropic==0.3.17
langchain-aws==0.2.28
langchain-community==0.3.27
langchain-core==0.3.68
langchain-google-genai==2.1.7
langchain-ollama==0.3.4
langchain-openai==0.3.27
langchain-voyageai==0.1.6
langfuse==3.1.3
markdown2==2.5.3
mermaid-py==0.8.0
openai==1.95.0
pgi==0.0.11.2; os_name == 'posix'
pillow==11.3.0
pygobject==3.46.0; os_name == 'posix'
pygments==2.19.2
pydantic==2.11.7
pypdf[full]==5.7.0
python-dotenv==1.1.1
pywinstyles==1.8; os_name != 'posix'
PyYAML==6.0.2
requests==2.32.4
setuptools==80.9.0  # required for Python 3.12 for klemboard package
SQLAlchemy==2.0.41
sv-ttk==2.6.1
tiktoken==0.9.0
tkinter-tooltip==3.1.2
tkinterdnd2==0.4.3
tkinterweb==4.3.1
voyageai==0.3.3
watchfiles==1.1.0
windows-toasts==1.2.0; os_name != 'posix'
wolframalpha==5.1.3
jsonschema==4.24.0