llm:
  map_model:
    azure:
      A: gpt-4o
      B: gpt-4o-mini
      C: gpt-35-turbo
      gpt-4-turbo: gpt-4-turbo-128k
      gpt-3.5-turbo: gpt-35-turbo
      dall-e-2: Dalle2
      dall-e-3: Dalle3
      embed: text-embedding-ada-002
    openai:
      A: gpt-4o
      B: gpt-4o-mini
      C: gpt-3.5-turbo
      embed: text-embedding-ada-002
    anthropic:
      A: claude-3-5-sonnet-latest
      B: claude-3-5-haiku-20241022
      C: claude-3-haiku-20240307
      embed: voyage-3
    aws:
      A: anthropic.claude-3-5-sonnet-20240620-v1:0
      B: anthropic.claude-3-5-haiku-20241022-v1:0
      C: anthropic.claude-3-haiku-20240307-v1:0
      embed: cohere.embed-multilingual-v3
chat:
  default_assistant:
  visible_last_chats: 15
  editor:
tools:
  file_mgmt:
    working_dir: /home/user/Documents
  brave_web:
    count: 3
  text-to-image:
    model: dall-e-3
  vector-search:
    model: embed
  joplin-search:
    model: embed